@model CarShowroom.Entities.TestDrive 

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .column{
        float: left;
        width: 50%;
    }
</style>
<h1>Create</h1>

<h4>TestDrive</h4>
<hr />
<div class="row">
    <div class="column">
    <div class="col-md-4">
        <form asp-action="CreateProcess">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TestDriveId" class="control-label"></label>
                <input asp-for="TestDriveId" class="form-control" />
                <span asp-validation-for="TestDriveId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarId" class="control-label" ></label>
                    @foreach(var car in ViewBag.CustomerOptions)
                    {
                        <option asp-for="CarId" class ="form-control" value="@car.CarId">@car.Model</option>
                    }
                    
            </div>
            <div class="form-group">
                <label asp-for="DateOfTestDrive" class="control-label"></label>
                <input asp-for="DateOfTestDrive" class="form-control" />
                <span asp-validation-for="DateOfTestDrive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfQuery" class="control-label"></label>
                <input asp-for="DateOfQuery" class="form-control" />
                <span asp-validation-for="DateOfQuery" class="text-danger"></span>
            </div>
        </form>
    </div>
    </div>
    <div class="column">
         <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Customer.FirstName" class="control-label"></label>
                <input asp-for="Customer.FirstName" class="form-control" />
                <span asp-validation-for="Customer.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.MiddleName" class="control-label"></label>
                <input asp-for="Customer.MiddleName" class="form-control" />
                <span asp-validation-for="Customer.MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.LastName" class="control-label"></label>
                <input asp-for="Customer.LastName" class="form-control" />
                <span asp-validation-for="Customer.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Address" class="control-label"></label>
                <input asp-for="Customer.Address" class="form-control" />
                <span asp-validation-for="Customer.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Phone" class="control-label"></label>
                <input asp-for="Customer.Phone" class="form-control" />
                <span asp-validation-for="Customer.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
