@model CarShowroom.Entities.Order

@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
	.column {
		float: left;
		width: 33%;
	}

	body {
	}
</style>
<body>
	<
	<h1>Create</h1>

	<h4>Order</h4>
	<hr />
	<div class="row">
		<div class="column">
			<div class="col-md-4">
				<form asp-action="Create">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group">
						<label asp-for="OrderId" class="control-label"></label>
						<input asp-for="OrderId" class="form-control" />
						<span asp-validation-for="OrderId" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="OriginalPice" class="control-label"></label>
						<input asp-for="OriginalPice" class="form-control" />
						<span asp-validation-for="OriginalPice" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="TotalSum" class="control-label"></label>
						<input asp-for="TotalSum" class="form-control" />
						<span asp-validation-for="TotalSum" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Quantity" class="control-label"></label>
						<input asp-for="Quantity" class="form-control" />
						<span asp-validation-for="Quantity" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="CarId" class="control-label"></label>
						<select asp-for="CarId" class="form-control" asp-items="ViewBag.CarId"></select>
					</div>
					<div class="form-group">
						<label asp-for="CustomerId" class="control-label"></label>
						<select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
					</div>
				</form>
			</div>
		</div>
		<div class="column">
			<form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Customer.FirstName" class="control-label"></label>
                <input asp-for="Customer.FirstName" class="form-control" />
                <span asp-validation-for="Customer.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.MiddleName" class="control-label"></label>
                <input asp-for="Customer.MiddleName" class="form-control" />
                <span asp-validation-for="Customer.MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.LastName" class="control-label"></label>
                <input asp-for="Customer.LastName" class="form-control" />
                <span asp-validation-for="Customer.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Address" class="control-label"></label>
                <input asp-for="Customer.Address" class="form-control" />
                <span asp-validation-for="Customer.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Phone" class="control-label"></label>
                <input asp-for="Customer.Phone" class="form-control" />
                <span asp-validation-for="Customer.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
		</div>
		<div class="column">
<form action="@Url.Action("AddExtra", "Order")" method="post">
    <fieldset>
        <legend>Select Extra:</legend>
        <select name="extraId">
            @Html.Raw(ViewBag.ExtrasOptions)
        </select>
    </fieldset>

</form>
		</div>
	</div>
	<div>
		<a asp-action="Index">Back to List</a>
	</div>
</body>
@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
