@model CarShowroom.Entities.Order

@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
	.column {
		float: left;
		width: 33%;
	}

	body {
	}
</style>
<body>
	<
	<h1>Create</h1>

	<h4>Order</h4>
	<hr /><form asp-action="CreateProcess" method="post">
	<div class="row">
		<div class="column">
			
			<div class="col-md-4">
				
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					
					<div class="form-group">
                <label asp-for="CarId" class="control-label">Модел кола:</label>
                  @Html.DropDownListFor(x => x.CarId, new SelectList(ViewBag.CustomerOptions, "CarId", "Model"))
                    
                    <br/>
<div class="form-group">
						<label asp-for="OriginalPice" class="control-label"><span id="original-price"></span></label>
						<span asp-validation-for="OriginalPice" class="text-danger"></span>
					</div>
					
					<div class="form-group">
						<label asp-for="Quantity" class="control-label">Количество</label>
						<input asp-for="Quantity" class="form-control" id="quantity-input"/>
						<span asp-validation-for="Quantity" class="text-danger"></span>
					</div>
					
            </div>
					
				
			</div>
		</div>
		<div class="column">
			
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Customer.FirstName" class="control-label"></label>
                <input asp-for="Customer.FirstName" class="form-control" />
                <span asp-validation-for="Customer.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.MiddleName" class="control-label"></label>
                <input asp-for="Customer.MiddleName" class="form-control" />
                <span asp-validation-for="Customer.MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.LastName" class="control-label"></label>
                <input asp-for="Customer.LastName" class="form-control" />
                <span asp-validation-for="Customer.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Address" class="control-label"></label>
                <input asp-for="Customer.Address" class="form-control" />
                <span asp-validation-for="Customer.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Phone" class="control-label"></label>
                <input asp-for="Customer.Phone" class="form-control" />
                <span asp-validation-for="Customer.Phone" class="text-danger"></span>
            </div>
            
        
		</div>
		<div class="column">

    <fieldset>
        <legend>Select Extra:</legend>
		@{ var e = 0;}
        @foreach(var extra in ViewBag.ExtrasOptions){

			<label><input type="checkbox" name="extras[@e].IsChecked" value="true" />@extra.ExtraName</label><br/>
			<input type="hidden" name="extras[@(e++)].ExtraId" value="@extra.ExtraId"/>
		}
    </fieldset>
    <div class="form-group">
						<input type="hidden" asp-for="TotalSum" id="total-sum-input" />
                        <label>Total sum: <span id="total-sum"></span></label>
					</div>
    
<div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
		</div>
	</div>
</form>
	<div>
		<a asp-action="Index">Back to List</a>
	</div>
</body>
@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
<script>
    function calculatePrice() {
        var carId = $('#car-select').val();
        var quantity = $('#quantity-input').val();
        
        $('input[name^=extras]:checked').each(function() {
            var extraId = $(this).attr('name').match(/\d+/)[0];
            extras.push({ ExtraId: extraId, IsChecked: true });
        });
        $.ajax({
            url: '/Order/CalculatePrice',
            type: 'POST',
            data: { carId: carId, quantity: quantity, extras: extras },
            success: function(data, status, jqXHR) {
                var price = data.price;
                $('#total-price').text('Total price: ' + price);
                $('#total-sum-input').val(price);
                var totalSum = parseInt(price.match(/\d+/)[0]);
                $('#total-sum').text(totalSum);

            },
            error: function(jqXHR, status, error) {
                $('#total-price').text('Error calculating price');
            }
        });
    });
});

function updateOriginalPrice() {
    var selectedCarId = $("#car-dropdown").val();
    $.ajax({
        url: "/Order/GetCarPrice",
        type: "GET",
        data: {
            carId: selectedCarId
        },
        success: function(data, status, jqXHR) {
            var originalPrice = data.price;
            $("#original-price").text("Original price: $" + originalPrice);
        },
        error: function(jqXHR, status, error) {
            console.error(error);
        }
    });
}
$(document).ready(function() {
    // Call updateOriginalPrice when the page loads
    updateOriginalPrice();

    // Call updateOriginalPrice whenever the car selection changes
    $("#car-dropdown").on("change", function() {
        updateOriginalPrice();
    });

});
</script>